<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
    <title>Главная страница</title>
</head>
<style>
        body {
            background: #006400;
        }
    </style>
<body>
    <div class="container text-center" style="height: 100vh; display: flex; flex-direction: column; justify-content: center;">
        <h1 style="color: white;" align="center" class="display-4">Расписание группы 6-24 Лицея при УлГТУ</h1>
        <div class="d-flex justify-content-center">
            <center>
                <button type="button" class="btn btn-light" onclick="window.location.href='http://127.0.0.1:5000/rasp'">Перейти к расписанию</button>
            </center>
        </div>
    </div>
</body>
</html>